@charset "utf-8";
/* CSS Document */
.ownanimate{
	-webkit-animation-duration:0.5s;
	animation-duration:0.5s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	animation-name:ownfadeIn;
}

@keyframes ownfadeIn{
	from{
		opacity:0
	}

	100%{
		opacity:1
	}
}

.ownanimate2{
	-webkit-animation-duration:0.8s;
	animation-duration:0.8s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	animation-name:ownfadeIn2;
}

@keyframes ownfadeIn2{
	from{
		opacity:0
	}

	100%{
		opacity:0.7
	}
}

html{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background-size:auto;
}

.wrap{
	position: absolute;
	display: none;
	width:100%;
	height:100%;
	margin:0;
	padding:0;

}

#canvas{
	display:block;
	background:url("../img/canvas2.png") repeat 0 0;
	position:relative;
	top:-4000px;
	left:-4000px;
	cursor:crosshair;
}

#canvaswrap{
	display:none;
}

#canvaswrap.init{
	display:block;
	position: absolute;
	border:2px solid #f3b3c1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border-top-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	top:40px;
	left:45px;
	width:850px;
	height:520px;
	overflow:hidden;
	cursor:crosshair;
}

#resultbox{
	display: none;
	border:2px solid #86b6ff;
	border-left:3px solid #a357f1;
	position:absolute;
	z-index: 3;
	overflow-x: hidden;
	overflow-y:auto;
	top:40px;
	height:520px;
	left:897px;
	width:313px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

#resultbox p{
	font-family: monospace;
	margin:0px;
	padding:0px;
	font-size:14px;
	margin-left: 18px;
	padding-right: 10px;
	margin-top: 8px;
	line-height:1.2;
	width:280px;
	position: relative;
	z-index: 2;
	text-align:left;
	word-wrap:break-word;
}

#resultbox .whole{
	font-family: monospace;
	padding-bottom:3px;
	border-bottom: 1px solid #ccc;
	font-size:15px;
	margin-top:15px;
	margin-bottom:0px;
	line-height: 1.4;
}
	
#elementbar{
	display:none;
	position:absolute;
	top:580px;	
	left:38px;	
	height:40px;	
	width:400px;	
}		
			
#utilitybar{
	display:none;
	position:absolute;
	top:590px;
	width:400px;
	height:100px;
	left:410px;	
}

#utilitybar .txt{
	position:relative;
	display: inline-block;
	width:25%;
}

#utilitybar .txt:first-child{
	margin-right: 70px;
}

#utilitybar .txt input{
	background-color: rgba(0,0,0,0);
	border: 1px solid transparent;
	font-size:14em;
	color:#000;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 6px;
	outline: none;
	height:25px;
	width:100%;
	margin-left:5%;
	padding-left: 38px;
	-webkit-transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
    transition:background-color 0.2s ease-out,border-color 0.2s ease-out;
    cursor:text;
}

#utilitybar .txt input:hover{
	background-color:rgba(255, 255, 255, 0.1);
	text-shadow:none;
}

#utilitybar .txt input:focus{
	background-color:rgba(255, 255, 255, 0.1);
	border-color:#488a6f;
}

#utilitybar .txt label{
	top:9px;
	height:20px;
	cursor:text;
	position:absolute;
	margin-top: -3%;
	width:18%;
	left: 15%;
}

#utilitybar .txt label.inputangle{
	background:url("../img/inputangle.png") no-repeat;
	background-size:contain;
	opacity:0.4
}

#utilitybar .txt label.inputline{
	background:url("../img/line.png") no-repeat;
	background-size:contain;
	opacity:0.6
}

#utilitybar .txt :first-child{
	margin-right:2%;
	margin-bottom:7%;
}
	
#elementbar div{
	display:inline-block;
	margin-left: 3px;
	cursor:pointer;
}

#elementbar #dj{
	padding: 0 11px;
  	line-height: 34px;
}

#elementbar #gdd{
	padding: 0 12px;
  	line-height: 43px;
}

#elementbar #mirror{
	padding: 0 10px;
	line-height: 45px;
}
#elementbar #dxj,
#elementbar #linebar,
#elementbar #move{
	padding: 0 8px;
  	line-height: 45px;
}

#elementbar #hdj,
#elementbar #gdj{
	padding: 0 3px;
  	line-height: 50px;
}

#elementbar #dj img{
	width: 45%;
}

#elementbar #gdd img{
	width: 65%;
}

#elementbar div img{
	cursor: pointer;
	width:80%;
}

#elementbar div.active{
	background-color: #eee;
}

#calcubutton{
	display:none;
	position:absolute;
	top: 7px;
	left:897px;
	z-index: 5;
}

#calcubutton.active{
	cursor: pointer;
}
