doctype html
html
  head 
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" type="image/x-icon" href="shama.ico")
    link(href='main.css' rel='stylesheet' media='screen')
    title='结构の自由度'  
  body
    include _includes/canvas/canvas.pug  
    include _includes/whiteboard/whiteboard.pug 
    include _includes/inputs/inputs.pug  
    include _includes/buttons/buttons.pug   
    script(src='main.js')
