div(id="buttons")
  div
    canvas(width='50' height='50' id="gdj")
  div
    canvas(width='50' height='50' id="hdj")
  div
    canvas(width='50' height='50' id="gdd")
  div
    canvas(width='50' height='50' id="dxj")
  div
    canvas(width='50' height='50' id="dj")
  div
    canvas(width='50' height='50' id="bar")
  div
    canvas(width='50' height='50' id="move")
